{% extends 'mainfarmersMarkets/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    {% if category %}
    <table border="2" style="width:20%">
        <caption style = "caption-side:top">Категории товаров</caption>
        <tr>
            <th>Категория</th>
        </tr>
        {% for el in category %}
        <tr>
            <td>{{ el.category }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>У нас нет записей!</p>
    {% endif %}
{% endblock %}